<app-main-nav></app-main-nav>

<div id="main" class="main">

    <!-- main accordion section -->
    <div class="container">
        <div id="mainContent" class="mainContent">
            <div class="left-section">
                <div class="fundsmanagement">
                    <h3 class="heading">{{title}}</h3>

                    <mat-accordion class="example-headers-align">

                        <!-- to credit the amount -->
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <span>Deposit Money</span>
                                </mat-panel-title>
                                <mat-panel-description>
                                    Add Money to your account
                                    <mat-icon>add_circle</mat-icon>
                                </mat-panel-description>
                            </mat-expansion-panel-header>

                            <form class="funds-form" [formGroup]="creditValidateForm">

                                <mat-form-field class="funds-full-width">
                                    <mat-label>Account Number</mat-label>
                                    <input matInput disabled value="{{transaction.ownerAccountNum}}">
                                </mat-form-field>

                                <mat-form-field appearance="fill" class="funds-full-width">
                                    <mat-label>
                                        <mat-icon class="matbtn">attach_money</mat-icon>Amount
                                    </mat-label>
                                    <input matInput [formControl]="creditValidateForm.get('amountFormControl')"
                                        name=amount id="amount" [(ngModel)]="transaction.amount" required="required">
                                    <mat-error
                                        *ngIf="creditValidateForm.get('amountFormControl').hasError('pattern') && !creditValidateForm.get('amountFormControl').hasError('required')">
                                        Please enter a valid non-negative amount with maximum 2 decimal places and no
                                        leading zeros
                                    </mat-error>
                                    <mat-error *ngIf="creditValidateForm.get('amountFormControl').hasError('required')">
                                        Amount is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>

                            </form>
                            <br>

                            <mat-action-row>
                                <button mat-raised-button color="primary" (click)="credit(transaction)"
                                    [disabled]="!creditValidateForm.valid">Deposit</button>
                            </mat-action-row>
                        </mat-expansion-panel>


                        <!-- to debit the amount -->
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <span>Withdraw Money</span>
                                </mat-panel-title>
                                <mat-panel-description>
                                    Debit Money from your account
                                    <mat-icon>remove_circle</mat-icon>
                                </mat-panel-description>
                            </mat-expansion-panel-header>

                            <form class="funds-form" [formGroup]="debitValidateForm">

                                <mat-form-field class="funds-full-width">
                                    <mat-label>Account Number</mat-label>
                                    <input matInput disabled value="{{transaction.ownerAccountNum}}">
                                </mat-form-field>

                                <mat-form-field class="funds-full-width">
                                    <mat-label>Category</mat-label>
                                    <mat-select [(value)]="transaction.category"
                                        [formControl]="debitValidateForm.get('categoryFormControl')">
                                        <mat-option value="Food">Food</mat-option>
                                        <mat-option value="Travel">Travel</mat-option>
                                        <mat-option value="Shopping">Shopping</mat-option>
                                        <mat-option value="Fuel">Fuel</mat-option>
                                        <mat-option value="Donation">Donation</mat-option>
                                        <mat-option value="EMI">EMI</mat-option>
                                        <mat-option value="Utility Bills">Utility Bills</mat-option>
                                        <mat-option value="Other">Other</mat-option>
                                    </mat-select>
                                    <mat-error
                                        *ngIf="debitValidateForm.get('categoryFormControl').hasError('required')">
                                        Selection is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field appearance="fill" class="funds-full-width">
                                    <mat-label>
                                        <mat-icon class="matbtn">attach_money</mat-icon>Amount
                                    </mat-label>
                                    <input matInput [formControl]="debitValidateForm.get('amountFormControl')"
                                        name=amount id="amount" [(ngModel)]="transaction.amount" required="required">
                                    <mat-error
                                        *ngIf="debitValidateForm.get('amountFormControl').hasError('pattern') && !debitValidateForm.get('amountFormControl').hasError('required')">
                                        Please enter a valid non-negative amount with maximum 2 decimal places and no
                                        leading zeros
                                    </mat-error>
                                    <mat-error *ngIf="debitValidateForm.get('amountFormControl').hasError('required')">
                                        Amount is <strong>required</strong>
                                    </mat-error>
                                </mat-form-field>

                            </form>
                            <br>

                            <mat-action-row>
                                <button mat-raised-button color="primary" (click)="debit(transaction)"
                                    [disabled]="!debitValidateForm.valid">Withdraw</button>
                            </mat-action-row>
                        </mat-expansion-panel>


                        <!-- to transfer the amount in same bank -->
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <span>Intrabank Transfer</span>
                                </mat-panel-title>
                                <mat-panel-description>
                                    Transfer money to an account in the same bank
                                    <mat-icon>send</mat-icon>
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <div *ngIf="intrabank?.length== 0">
                                <div class="alert alert-info">
                                    Please <strong><a routerLink="/beneficiaries" routerLinkActive="active">Add</a></strong> a Beneficiary before transferring funds
                                </div>
                            </div>
                            <div *ngIf="intrabank?.length> 0">
                                <div>
                                    <form class="funds-form" [formGroup]="beneficiaryValidateForm">

                                        <mat-form-field class="funds-full-width">
                                            <mat-label>Account Number</mat-label>
                                            <input matInput disabled value="{{transaction.ownerAccountNum}}">
                                        </mat-form-field>
        
                                        <mat-form-field class="funds-full-width">
                                            <mat-label>Choose Beneficiary:</mat-label>
                                            <mat-select [(value)]="transaction.beneficiaryAccountNumber"
                                                [formControl]="beneficiaryValidateForm.get('beneficiaryFormControl')">
                                                <!-- <mat-option *ngFor="let beneficiary of beneficiaries"
                                                    value={{beneficiary.accountNumber}}>
                                                    {{ beneficiary.firstName + ' ' + beneficiary.lastName }}
                                                </mat-option> -->
                                                <ng-container *ngFor="let beneficiary of beneficiaries">
                                                    <mat-option *ngIf="beneficiary.routingNumber===111222333" value={{beneficiary.accountNumber}}>
                                                        {{ beneficiary.firstName + ' ' + beneficiary.lastName }}
                                                    </mat-option>
                                                </ng-container>
                                            </mat-select>
                                            <mat-error
                                                *ngIf="beneficiaryValidateForm.get('beneficiaryFormControl').hasError('required')">
                                                Selection is <strong>required</strong>
                                            </mat-error>
                                        </mat-form-field>
        
                                        <mat-form-field class="funds-full-width">
                                            <mat-label>Beneficiary Account Number</mat-label>
                                            <input matInput disabled value="{{transaction.beneficiaryAccountNumber}}">
                                        </mat-form-field>
        
                                        <mat-form-field appearance="fill" class="funds-full-width">
                                            <mat-label>
                                                <mat-icon class="matbtn">attach_money</mat-icon>Amount
                                            </mat-label>
                                            <input matInput [formControl]="beneficiaryValidateForm.get('amountFormControl')"
                                                name=amount id="amount" [(ngModel)]="transaction.amount" required="required">
                                            <mat-error
                                                *ngIf="beneficiaryValidateForm.get('amountFormControl').hasError('pattern') && !beneficiaryValidateForm.get('amountFormControl').hasError('required')">
                                                Please enter a valid non-negative amount with maximum 2 decimal places and no
                                                leading zeros
                                            </mat-error>
                                            <mat-error
                                                *ngIf="beneficiaryValidateForm.get('amountFormControl').hasError('required')">
                                                Amount is <strong>required</strong>
                                            </mat-error>
                                        </mat-form-field>
        
                                    </form>
                                </div>
                            </div>


                            
                            <br>

                            <mat-action-row>
                                <button mat-raised-button color="primary" (click)="transferInSameBank(transaction)"
                                    [disabled]="!beneficiaryValidateForm.valid">Transfer</button>
                            </mat-action-row>
                        </mat-expansion-panel>

                        <!-- to transfer the amount in another bank -->
                        <mat-expansion-panel>
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <span>Interbank Transfer</span>
                                </mat-panel-title>
                                <mat-panel-description>
                                    Transfer money to an account in another bank
                                    <mat-icon>send</mat-icon>
                                </mat-panel-description>
                            </mat-expansion-panel-header>
                            <div *ngIf="interbank?.length== 0">
                                <div class="alert alert-info">
                                    Please <strong><a routerLink="/beneficiaries" routerLinkActive="active">Add</a></strong> a Beneficiary before transferring funds
                                </div>
                            </div>
                            <div *ngIf="interbank?.length> 0">
                                <form class="funds-form" [formGroup]="beneficiaryValidateForm">
                                    <mat-form-field class="funds-full-width">
                                        <mat-label>Account Number</mat-label>
                                        <input matInput disabled value="{{transaction.ownerAccountNum}}">
                                    </mat-form-field>
    
                                    <mat-form-field class="funds-full-width">
                                        <mat-label>Choose Beneficiary:</mat-label>
                                        <mat-select [(value)]="transaction.beneficiaryAccountNumber"
                                            [formControl]="beneficiaryValidateForm.get('beneficiaryFormControl')">
                                            <!-- <mat-option *ngFor="let beneficiary of beneficiaries"
                                                value={{beneficiary.accountNumber}}>
                                                {{ beneficiary.firstName + ' ' + beneficiary.lastName }}
                                            </mat-option> -->
                                            <ng-container *ngFor="let beneficiary of beneficiaries">
                                                <mat-option *ngIf="beneficiary.routingNumber!==111222333" value={{beneficiary.accountNumber}}>
                                                    {{ beneficiary.firstName + ' ' + beneficiary.lastName }}
                                                </mat-option>
                                            </ng-container>
                                        </mat-select>
                                        <mat-error
                                            *ngIf="beneficiaryValidateForm.get('beneficiaryFormControl').hasError('required')">
                                            Selection is <strong>required</strong>
                                        </mat-error>
                                    </mat-form-field>
    
                                    <mat-form-field class="funds-full-width">
                                        <mat-label>Beneficiary Account Number</mat-label>
                                        <input matInput disabled value="{{transaction.beneficiaryAccountNumber}}">
                                    </mat-form-field>
    
                                    <mat-form-field appearance="fill" class="funds-full-width">
                                        <mat-label>
                                            <mat-icon class="matbtn">attach_money</mat-icon>Amount
                                        </mat-label>
                                        <input matInput [formControl]="beneficiaryValidateForm.get('amountFormControl')" name=amount id="amount"
                                            [(ngModel)]="transaction.amount" required="required">
                                        <mat-error *ngIf="beneficiaryValidateForm.get('amountFormControl').hasError('pattern') && !beneficiaryValidateForm.get('amountFormControl').hasError('required')">
                                            Please enter a valid non-negative amount with maximum 2 decimal places and no leading zeros
                                        </mat-error>
                                        <mat-error
                                            *ngIf="beneficiaryValidateForm.get('amountFormControl').hasError('required')">
                                            Amount is <strong>required</strong>
                                        </mat-error>
                                    </mat-form-field>
    
                                </form>
                            </div>
                            

                            <mat-action-row>
                                <button mat-raised-button color="primary" (click)="transferInOtherBank(transaction)"
                                    [disabled]="!beneficiaryValidateForm.valid">Transfer</button>
                            </mat-action-row>
                        </mat-expansion-panel>

                        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                        </mat-expansion-panel>
                    </mat-accordion>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>