.element {
    margin-top: 15px;
    padding-top: 15px;
    margin-bottom: 15px;
}

button {
    margin-right: 15px;
}

.contactus-form {
    min-width: 500px;
    max-width: 800px;
    width: 100%;
}


.desc-full-width {
    width: 100%;
  }
  
.contact-gif {
    margin-left: 50px;
}