/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
html, body { 
    height: 100%;
}
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.basic-container {
    padding: 30px;
}

button {
    margin-top: 15px;
    padding-top: 15px;
    margin-right: 10px;
}

.center-content {
    display: flex;
    height: 100%;
    margin-top: 80px;
    align-items: center;
    justify-content: center;
    padding-left: 200px
}

