<div class="grid">
    <div class="common">
        <img src='./assets/logo.JPG' class="logo_img" />
    </div>
    <div class="innerDiv1 common">
        <h1>EXTERMINATORS</h1>
        <sub>EASY BANKING SOLUTIONS</sub>
        <br>
        <sub>ALWAYS AVAILABLE FOR YOU</sub>
    </div>
    <div class="innerDiv2 common">
        <button class="loginBtn" routerLink="/login/" routerLinkActive="active">Login</button>
        <button class="signupBtn" routerLink="/register/" routerLinkActive="active">Sign Up</button>
    </div>
</div>
<div>
    <div>
        <img src="./assets/welcome_img.jpg" class="welcome_img" />
    </div>
</div>