.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 220px;
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.toolbar {
  background-color: blue;
}

.spacer {
  flex: 1 1 auto;
}

.nav-item {
  padding-left: 5px;
}


.position-fixed{
  position: fixed
}


.safebankheading{
text-align: center;
margin: auto;
  width: 100%;
}

.logout-btn{
  a{
    // color: #ffffff !important;
    //   background-color: transparent !important;
    //   border: 1px solid #ffffff;
    //   padding: 0.41rem 0.9rem !important;
    //   margin: 4px 15px 4px;
    //   border-radius: 19px;
    //   font-size: 14px;

      color: #ffffff !important;
    background-color: transparent !important;
    border: 1px solid #ffffff;
    padding: 0.41rem 0.9rem !important;
    margin: 4px 251px 4px;
    border-radius: 19px;
    font-size: 14px;
  }
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 50%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;

}

// modal button css
.logout:link {
  text-decoration: none;
  background-color: #44c767;
  border-radius: 25px;
  border: 1px solid #18ab29;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 14px;
  padding: 12px 19px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
}
  .logoutl:hover  {
      color: black;
    }
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}

.crumb{
  padding-right: 48px;
  text-align: rights
}

