.expansion-panel {
    min-width: 700px;
    max-width: 900px;
    margin-bottom: 10px;
    width: 100%;
}

button {
    margin-top: 10px;
    margin-right: 15px;
}

.form-field{
    margin-bottom: 20px;
    width: 60%;
}

.main{
    margin-top: 80px;
}